
@font-face{
    src:url("../fonts/GoogleSans-Regular.ttf");
    font-family:"Google Sans";
}

*{
    box-sizing: border-box;
}

body , html{
    margin:0;
    padding:0;
    font-family: "Google Sans",sans-serif;
}

input{
    outline:none;
    background:#fff;
    font-family:"Google Sans",sans-serif;
    color:rgba(0,0,0,0.72);
}

input::-webkit-input-placeholder{
    color:rgba(0,0,0,0.72);
}

button{
    font-family: "Google sans",sans-serif;    
}

.container{
    position: relative;
    padding:2em;
    width:70%;
    left:50%;
    transform:translateX(-50%);
    margin-top:3em;
}

.container h1{
    text-align: center;
    font-size:3em;
    font-weight: 300;
    text-transform: capitalize;
}

.container form{
    position: relative;
    width:100%;
    text-align: center;
}

.container form input , .container form button{
    position: relative;
    padding:0.8em 1em 0.8em 1em;
    font-size:1.1em;
    border-radius: 30px;    
    border:1px solid #e8eaed;
}

.container form input{
    width:80%;
    transition:box-shadow 300ms ease 0s;    
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;    
}

.container form input:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.container form button{
    background:#fff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
    padding-left:0.6em;
    transition:color,background 300ms ease 0s;
    color:rgba(0,0,0,0.72);
}

.container form button:hover{
    background:#e8f0fe;
    color:#1967d2;
}

ul{
    font-family: "Google Sans",sans-serif;
    position: relative;
    width:100%;
    padding:1em;
    margin-top:2em;
    list-style: none;
    font-size:1.1em;
}

.task--li{
    position: relative;
    padding:1em 1em 1em 4em;
    border:1px solid #e8eaed;
    margin:0.5em;
    color:rgba(0,0,0,0.72);
    border-radius: 30px;
    transition:background 300ms ease 0s;
}

.task--li:hover{
    background:#f5f5f5;
}

.task--li input{
    width:80%;
    background:none;
    pointer-events: none;
    transition:color 300ms ease 0s;
}

.task--li span{
    position: relative;
    display: inline-block;
    width:35px;
    height:35px;
    border:1px solid #e8eaed;
    background:#fff;
    border-radius: 50%;
    margin-left:0.5em;
    margin-right:0.5em;
    top:-2px;
    vertical-align: middle;
    cursor: pointer;
    transition: background 300ms ease 0s , border-color 300ms ease 0s;
}

.task--li span i{
    position: absolute;
    width:auto;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:rgba(0,0,0,0.54);
    transition:color 300ms ease 0s;
}

.task--li .complete--span i{
    color:#00bfa5;
}

.task--li .delete--span i{
    color:#e53935  ;
}

.task--li .complete--span:hover{
    background:#00bfa5;
    border-color:transparent;
}

.task--li .edit--span i {
    color:#0288d1 ;
}

.task--li .edit--span:hover{
    background:#0288d1 ;
    border-color:transparent;
}

.task--li .complete--span:hover i , .task--li .delete--span:hover i,.task--li .edit--span:hover i {
    color:#fff;
}

.task--li .delete--span:hover{
    background:#e53935;
    border-color:transparent;
}

.task--li .delete--span , .task--li .complete--span,.task--li .edit--span {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.task--li .complete--span{
    left:1em;
}

.task--li  .edit--span{
    right:0;
}

.task--li .delete--span{
    right: 2.5em;
}

/*completed stuff*/

.task--completed--container .task--li{
    background:#e8f0fe;
}


.completed{
    position: absolute;
    height:2px;
    background:#00bfa5;
    width:0%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    animation:taskLineAnimation 300ms ease 0s 1 both;
    pointer-events: none;
}


@keyframes taskLineAnimation{
    from{width:0%}
    to{width:96%}
}


.task--li input{
    text-decoration: none;
    padding:0!important;
    font-size: unset!important;
    border:none;
    outline:none;
}

@media only screen and (max-width:768px){
    .container{
        width:90%;
        margin-top:1em;
    }
}

.task--parent--container p , 
.task--completed--container p {
    font-size: 1.4em;
    position: relative;
}

.task--parent--container p::after , 
.task--completed--container p::after{
    content:"";
    position: absolute;
    width:100%;
    left:-2%;
    height:2px;
    background:#e8eaed;
    bottom:-0.3em;
}

.task--parent--container li:not(.task--li):nth-child(2) , 
.task--completed--container li:not(.task--li):nth-child(2){
    text-align: center;
    color:rgba(0,0,0,0.54)
}



